@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css';
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

* {
    font-family: 'JetBrains Mono', monospace;
    overflow: hidden !important;
}
.copyright {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 12px;
}
.info {
    text-align: right;
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 10px;
}
.menu {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 12px;
}
.head {
    position: fixed;
    top: 10px;
    left: 0px;
}
/* styles.css */
.alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

.close-btn {
    margin-top: 10px;
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.holographic {
    background: linear-gradient(
        40deg,
        hsl(0, 100%, 50%, 0.25),
        hsl(40, 100%, 50%, 0.25),
        hsl(80, 100%, 50%, 0.25),
        hsl(120, 100%, 50%, 0.25),
        hsl(160, 100%, 50%, 0.25),
        hsl(200, 100%, 50%, 0.25),
        hsl(240, 100%, 50%, 0.25)
    );
    height: 100vh;
    background-size: 300% 300%;
    animation: gradient 12s ease infinite;
    backdrop-filter: blur(20px);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
