@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css';
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'JetBrains Mono', monospace;
    /*font-family: 'Montserrat', sans-serif;*/
    overflow: hidden !important;
}

.copyright {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 12px;
}
.info {
    text-align: right;
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 10px;
}
.menu {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 12px;
}
.head {
    position: fixed;
    top: 10px;
    left: 0px;
}
/* styles.css */
.alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

.close-btn {
    margin-top: 10px;
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
